<div>
  <h2>New Post</h2>

  <form class="form newpost-form">
    <div class="form-group">
      <label for="post_title">Post Title:</label>
      <br />
      <input type="text" id="post_title" />
    </div>
    <div>
      <label for="post_text">Post Content:</label>
      <br />
      <input type="text" id="post_text" />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/js/newpost.js"></script>